# Ignorar entorno virtual
venv/
ent/
env/
.venv/
.idea
.env
# Otros comunes que podrías querer ignorar:
__pycache__/
*.pyc
*.pyo
*.pyd


NIÑO/migrations/__pycache__/
PROFESOR/migrations/__pycache__/
PADRE/migrations/__pycache__/