body {
  font-family: 'Open Sans', sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 50px;
}

.btn-home {
  background-color: rgba(86, 250, 1, 0.82);
  padding: 10px 15px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.btn-logout {
  background-color: #f8a6c8;
  padding: 10px 15px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

main {
  padding: 30px;
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

.curso-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background: #f1f1f1;
  border-radius: 30px;
  padding: 20px;
}

.curso-card {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.crear {
  border: 2px dashed #ccc;
  background-color: #fff;
}

.btn-crear {
  margin-top: auto;
  padding: 10px;
  background-color: #7cff49;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.ciencias {
  background-color: #d9f6de;
}

.matematicas {
  background-color: #bff2ef;
}

