{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Selecciona un Nivel</title>
    <link rel="stylesheet" href="{% static 'CSS/juegos_Styles.css' %}">
</head>
<body>
    <h1 style="text-align: center;"> QUE EMPIECE EL JUEGO </h1>
    <div class="grid-niveles-estatico">
        <a href="#" class="nivel-boton-estatico">Nivel 1</a>
        <a href="#" class="nivel-boton-estatico">Nivel 2</a>
        <a href="#" class="nivel-boton-estatico">Nivel 3</a>
        <a href="#" class="nivel-boton-estatico">Nivel 4</a>
        <a href="#" class="nivel-boton-estatico">Nivel 5</a>
        </div>
</body>
</html>