{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Estudiantes</title>
    <link rel="stylesheet" href="{% static 'css/estudiantes.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>


    <header>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Eduflex">
            <a href="{% url 'profesor:verEstadisticasCurso' %}" class="btn">Estadistiocas generales curso</a>
        </div>
        <nav>


        </nav>
    </header>

    <div class="regresar">
      <a onclick="window.history.back()" class="boton-recuperar"> <button class="btn-return"> ← Regresar</button> </a>
    </div>

    <div class="container">
        <h1>👨‍🎓 Estudiantes del Curso</h1>

        <ul class="lista-estudiantes">
            {% for niño in niños %}
                <li class="item-estudiante">
                    <a href="{% url 'profesor:estudiante' curso.id niño.id %}">
                        <span class="foto">{{ niño.foto_perfil }}  </span>
                        <span class="nombre">📘 {{ niño.nombres }} {{ niño.apellidos }}</span>
                        <span class="ver-mas">Ver detalle ➜</span>
                    </a>
                </li>
            {% empty %}
                <li class="sin-estudiantes">😕 No hay estudiantes registrados.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
