{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Profesor - Eduflex</title>
    <link rel="stylesheet" href="{% static 'css/dashboardTeacher.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Eduflex">
            <a href="{% url 'profesor:tuscursos' %}" class="btn">Cursos</a>
        </div>
        <nav>

            <a href="{% url 'accounts:logout' %}" class="btn-cerrar">Cerrar sesión</a>
        </nav>
    </header>

    <main>
        <div class="container">
        <div class="welcome">
          ¡Bienvenido/a, {{profesor.nombre_completo}}!<br>
          Accede a tus cursos y al seguimiento de tus estudiantes.
        </div>

        <div class="content">
          <div class="progress-courses {% if not cursos %}sin-reportes{% endif %}">
              <div class="progress-title">Cursos visitados recientemente</div>
              {% if cursos%}
              {% for curso in cursos %}
                <a class="card-container" href="{% url 'profesor:curso' curso.id %}" >
                  <div class="card">
                    <div><strong>{{ curso.nombre_curso}}</strong></div>
                      <div>
                          {% if curso.seccion == "M" %}
                            Matutina
                          {% elif curso.seccion == "V" %}
                            Vespertina
                          {% else %}
                            {{ curso.seccion }}
                          {% endif %}
                      </div>
                      <div>Periodo: {{ curso.periodo }}</div>
                      <div>Fecha inicio: {{ curso.fecha_inicio|date:"M d, Y" }}</div>
                      <div>Fecha fin: {{ curso.fecha_final|date:"M d, Y" }}</div>
                  </div>
                </a>
              {% endfor %}

              {% else %}
                    <p>No tienes cursos disponibles</p>
              {% endif %}
          </div>
          <div class="imagen-con-circulo">
              <div class="circulo-beis"></div>
              <img src="{% static 'img/profesor.png' %}" class alt="Ilustración profesora">
          </div>
        </div>
      </div>
    </main>
</body>
</html>