{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Padre - Eduflex</title>
  <link rel="stylesheet" href="{% static 'css/report_total.css' %}">
</head>
<body>

<header>
  <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
  <a href="{% url 'profesor:dashboardTeacher' %}" class="btn-nav">Home</a>
  <a href="{% url 'accounts:logout' %}" class="btn-cerrar">Cerrar sesión</a>
</header>

<main>
  <div class="regresar">
      <a onclick="window.history.back()" class="boton-recuperar">←</a>
  </div>
  <section class="estudiante ">
    <div class="contenido-reportes">
        <h4 >Reportes:</h4>
        <div class="reportes">
          {% for reporte in reportes %}
          <a class="card reporte" href="{% url 'profesor:verReportStudent' reporte.id %}">
            <strong></strong>
             <span>{{ reporte.titulo }}</span>
            <span>Duración:{{ reporte.duracion_evaluacion }}</span>
            <span>Fecha:{{ reporte.fecha }}</span>
          </a>
          {% endfor %}
        </div>
    </div>
  </section>
</main>
</body>
</html>